*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  background-image: url("../../images/bg-desktop.svg"), linear-gradient(to right, rgba(103, 75, 175, 0.95), #674baf);
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 52em) {
    body {
      height: initial;
      background-image: url("../../images/bg-mobile.svg"), linear-gradient(to bottom, rgba(103, 75, 175, 0.95), #674baf); } }
  @media only screen and (max-width: 38em) {
    body {
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat; } }

.container-main {
  width: 90%;
  height: 90%;
  position: relative; }

.container-inside {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  gap: 2rem; }
  @media only screen and (max-width: 52em) {
    .container-inside {
      flex-direction: column; } }

.logo-box {
  position: absolute;
  top: 1rem;
  left: 1px;
  width: 20rem;
  height: 5rem; }
  @media only screen and (max-width: 62.5em) {
    .logo-box {
      width: 15rem; } }

.logo-icon {
  width: 100%;
  height: 100%; }

.left {
  flex: 1.3;
  height: 90%;
  width: 100%;
  align-self: flex-start; }
  .left-image {
    width: 100%;
    height: 100%; }

.right {
  flex: 1;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  padding: 2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2.5rem;
  position: relative; }
  .right-paragraph {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7); }
  @media only screen and (max-width: 52em) {
    .right {
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: initial;
      padding: 0; } }
  @media only screen and (max-width: 38em) {
    .right {
      width: 95%; } }

.container-icon {
  display: flex;
  flex-direction: row;
  width: 15rem;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0; }
  @media only screen and (max-width: 52em) {
    .container-icon {
      position: relative;
      margin-bottom: 2rem; } }

.icon-box {
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  position: relative;
  transition: all 0.2s ease; }
  .icon-box:hover, .icon-box:active {
    border: 2px solid #e882e8; }
  .icon-box:hover .social-icon {
    color: #e882e8; }
  .icon-box:active .social-icon {
    color: #e882e8; }

.social-icon {
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease; }
  .social-icon:hover, .social-icon:active {
    color: #e882e8; }

.heading-primary {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white; }
  @media only screen and (max-width: 38em) {
    .heading-primary {
      font-size: 2.5rem; } }

.btn {
  height: 4rem;
  width: 17rem;
  padding: 1.2rem;
  border-radius: 50px;
  font-size: 1.5rem;
  text-align: center;
  color: #674baf;
  border: none;
  outline: none;
  background-color: white;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 7px 6px 5px 1px rgba(0, 0, 0, 0.24); }
  @media only screen and (max-width: 52em) {
    .btn {
      width: 55%;
      min-width: 17rem; } }
  @media only screen and (max-width: 38em) {
    .btn {
      width: 60%; } }
  @media only screen and (max-width: 30em) {
    .btn {
      width: 70%; } }
  @media only screen and (max-width: 14em) {
    .btn {
      min-width: 10rem;
      width: 100%; } }
  .btn:hover, .btn:active {
    color: white;
    background-color: #e882e8; }
  .btn:active {
    transform: scale(0.88);
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.24);
    outline: none; }
