.right {
  flex: 1;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  padding: 2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2.5rem;
  position: relative;
  &-paragraph {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(white, 0.7);
  }
  @media only screen and (max-width: 52em) {
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: initial;
    padding: 0;
  }
  @media only screen and (max-width: 38em) {
    width: 95%;
  }
}
.container-icon {
  display: flex;
  flex-direction: row;
  width: 15rem;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  @media only screen and (max-width: 52em) {
    position: relative;
    margin-bottom: 2rem;
  }
}
.icon-box {
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border: 2px solid rgba(white, 0.8);
  position: relative;
  transition: all 0.2s ease;

  &:hover,
  &:active {
    border: 2px solid $Soft-Magenta;
  }
  &:hover .social-icon {
    color: $Soft-Magenta;
  }
  &:active .social-icon {
    color: $Soft-Magenta;
  }
}
.social-icon {
  font-size: 2.2rem;
  color: rgba(white, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;

  &:hover,
  &:active {
    color: $Soft-Magenta;
  }
}
